@import url(https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap);

.global-header {
    font-family: "Mulish", sans-serif;
    font-weight: 800;
}

.progress {
    background-color: #e9ecef;
    border-radius: 0.5rem;
    overflow: hidden;
    border-radius: 1rem;
}

.progress-bar {
    transition: width 0.2s ease;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 10px;
    color: white;
    font-weight: 500;
    border-radius: 1rem;
}

.card-header{
    font-family: "Mulish", sans-serif;
    font-weight: 600;
}

.card {
    box-shadow: 0 0.125rem 0.25rem rgba(0,0,0,0.075);
    border-radius: 2rem;
}

#coresContainer .progress {
    margin-bottom: 12px;
    height: 25px;
}
